@import '../../styles/variables';

.onboard-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space-md;
    flex-direction: column;
    position: relative;

    .chevron-and-pills {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;

        .back-svg-container {
            display: none;
            width: 100%;
            justify-content: flex-start;
            margin-bottom: $space-lg;
            align-items: center;
            margin-left: -28px;
            background: $white;
            border: none;
            font-size: 16px;
            position: relative;
            z-index: 1;

            @media (max-width: $small-screen) {
                display: inherit;
            }

            .onboard-back-chevron {
                height: 25px;
                width: 25px;
            }
        }

        .pills {
            display: flex;
            margin-top: $space-lg;

            @media (max-width: $small-screen) {
                margin-top: 0;
            }

            @media (max-width: $x-small-screen) {
                width: 100%;
            }

            .step-pill {
                background: $grey-background-two;
                width: 70px;
                height: 5px;
                margin: 0 3px;
                border-radius: 3px;

                @media (max-width: $x-small-screen) {
                    width: 100%;
                }
            }

            .pill-filled {
                background: $orange-main;
            }
        }
    }

    @media (max-width: $small-screen) {
        .onboard-logo {
            display: none;
        }
    }

    @media (max-width: $small-screen-medium) {
        h2,
        h3 {
            text-align: center;
        }
    }

    .steps-container {
        position: relative;
        margin-top: $space-xxxxlg;
        width: 100%;

        @media (max-width: $small-screen) {
            margin-top: $space-lg;

            h2 {
                max-width: 430px;
            }
        }
    }

    .main-type-buttons {
        display: flex;

        .button-container {
            width: 100%;

            button {
                border-radius: 0;
            }
        }

        .left,
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 230px;

            span {
                color: $grey-six;
                font-size: 14px;
                line-height: 30px;
            }
        }

        .left {
            margin-right: 15px;
        }

        .right {
            margin-left: 15px;
        }

        @media (max-width: $small-screen-medium) {
            flex-direction: column;
            width: 100%;
            margin-bottom: $space-xxxxlg;

            .left,
            .right {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            .left {
                margin-bottom: $space-md;
            }
        }
    }
}

.step {
    // position: absolute;
    // top: 0;
    // opacity: 0;
    // transition: opacity 0.5s;
    width: 100%;
    background: $white;
    // z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: $space-xlg;

        @media (max-width: $small-screen) {
            font-size: 24px;
            text-align: center;
            margin-bottom: $space-lg;
        }
    }

    h3 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom: $space-md;

        @media (max-width: $small-screen) {
            font-size: 18px;
            margin-bottom: $space-sm;
        }
    }
}

// .active-step {
//     opacity: 1;
//     z-index: 2;
// }

.row,
.row-single {
    display: flex;
    align-items: center;
    margin-bottom: $space-md;
    width: 600px;

    & > :first-child {
        margin-right: 12px;
    }

    & > :last-child {
        margin-left: 12px;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media (max-width: $small-screen-medium) {
        flex-direction: column;
        width: 100%;

        & > :first-child {
            margin-right: 0;
        }

        & > :last-child {
            margin-left: 0;
        }
    }
}

.row-single {
    & > :first-child {
        margin-right: 0;
    }

    & > :last-child {
        margin-left: 0;
    }
}


.button-actions {
    margin-top: $space-xxxxlg;
    margin-bottom: $space-xlg;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $small-screen-medium) {
        & * {
            width: 100%;
        }
    }

    .right {
        display: flex;
        flex-direction: row;

        @media (max-width: $xx-small-screen) {
            flex-direction: column;
        }
    }

    .margined-button {
        margin-left: auto;
        margin-right: $space-md;

        @media (max-width: $small-screen-medium) {
            margin-left: 0;
            margin-right: $space-sm;
        }
    }

    button {
        width: 200px;

        @media (max-width: $small-screen) {
            width: 150px;
        }

        @media (max-width: $small-screen-medium) {
            width: 100%;
        }
    }

    @media (max-width: $small-screen) {
        margin-top: 0;
        margin-bottom: 0;
        justify-content: flex-end;

        .button-section {
            display: none;
        }
    }
}

.ideal-partner {
    width: 100%;
    height: 120px;
}

.form-field {
    width: 100%;

    button {
        border-radius: 0;
    }
}

.back-button-section {
    @media (max-width: $small-screen) {
        display: none;
    }
}

.name-row {
    display: flex;
    align-items: center;
    margin-bottom: $space-xs;

    & > :first-child {
        margin-right: 15px;
    }

    & > :last-child {
        margin-left: 15px;
    }

    .form-field {
        width: 230px;
    }
}
