@import '../../styles/variables';

.home-page-wrapper {
    padding: $space-lg;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 60px;
        font-weight: 600;
        margin: 0;
        margin-top: $space-md;
        line-height: 74px;
    }

    .subtitle {
        margin: 0;
        margin-top: $space-md;
        font-size: 24px;
        line-height: 45px;
    }

    .top-section {
        display: flex;
        justify-content: space-between;
        margin-top: 160px;

        @media (max-width: $small-screen) {
            margin-top: 0;
            flex-direction: column;
        }

        .left {
            width: 50%;
            right: 50%;

            @media (max-width: $small-screen) {
                width: 100%;
                right: 0;
                padding: 0 $space-md;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            svg {
                margin-left: 100px;

                @media (max-width: $small-screen) {
                    margin-left: 0;
                    width: 72vw;
                }
            }

            .push {
                margin-left: 148px;

                @media (max-width: $small-screen) {
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .title {
                    margin-top: $space-sm;

                    @media (max-width: $small-screen) {
                        text-align: center;
                        width: 100%;
                        font-size: 30px;
                        line-height: 34px;
                        margin-top: $space-xs;
                    }
                }

                .subtitle {
                    margin-top: $space-xlg;

                    @media (max-width: $small-screen) {
                        text-align: center;
                        width: 100%;
                        font-size: 16px;
                        line-height: 21px;
                    }
                }

                button {
                    width: inherit;
                    margin-top: $space-lg;
                }
            }
        }

        .right {
            @media (max-width: $small-screen) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: $space-md;
            }

            .top-image {
                margin-right: 264px;
                position: relative;
                width: 500px;
                height: 500px;

                @media (max-width: $small-screen) {
                    margin-right: inherit;
                    width: 100%;
                    height: inherit;
                }

                &:first-of-type span {
                    z-index: 1;
                }

                svg {
                    position: absolute;
                    top: -25px;
                    left: 400px;
                }
            }
        }
    }

    .connect-with-purpose {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 230px;

        @media (max-width: $small-screen) {
            margin-top: $space-xxlg;
        }

        .title {
            @media (max-width: $small-screen) {
                text-align: center;
                font-size: 30px;
                line-height: 34px;
                margin: 0;
            }
        }

        .subtitle {
            text-align: center;
            font-size: 24px;

            @media (max-width: $small-screen) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .user-cards {
        max-width: 1278px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 80px;

        @media (max-width: $small-screen) {
            margin-top: $space-lg;
        }

        .user-card {
            width: calc(50% - 20px);
            background: $grey-background;
            padding: $space-lg;
            display: flex;
            margin-bottom: 40px;

            @media (max-width: $small-screen) {
                width: 100%;
                flex-direction: column;
                margin-bottom: 24px;
            }

            &:nth-child(odd) {
                margin-right: 20px;

                @media (max-width: $small-screen) {
                    margin-right: 0;
                }
            }

            &:nth-child(even) {
                margin-left: 20px;

                @media (max-width: $small-screen) {
                    margin-left: 0;
                }
            }


            .details {
                margin-left: $space-lg;

                @media (max-width: $small-screen) {
                    margin-left: inherit;
                }

                .card-title {
                    margin: 0;
                    font-size: 38px;
                    margin-bottom: $space-sm;

                    @media (max-width: $small-screen) {
                        font-size: 20px;
                    }
                }

                .card-subtitle {
                    margin: 0;
                    font-size: 22px;
                    margin-bottom: $space-md;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: $small-screen) {
                        font-size: 16px;
                        flex-wrap: wrap;
                    }
                }

                .card-description {
                    margin: 0;
                    font-size: 16px;
                    line-height: 25px;

                    @media (max-width: $small-screen) {
                        font-size: 12px;
                    }
                }
            }

            &:nth-child(2) {
                padding-left: 0;

                @media (max-width: $small-screen) {
                    padding-left: $space-lg;
                }

                .details {
                    margin-left: 0;
                }
            }

            .card-image {
                @media (max-width: $small-screen) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: $space-sm;
                }
            }
        }
    }

    .join-now {
        margin-bottom: 120px;
    }

    .the-easy-way-section {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: -$space-xxxxlg;
        max-width: 1534px;

        @media (max-width: $small-screen) {
            margin-left: inherit;
            flex-direction: column-reverse;
            width: 100vw;
        }

        .left {
            width: 66%;
            background: $blue-background;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 32px;

            @media (max-width: $small-screen) {
                width: 100%;
                align-items: flex-start;
            }

            .title {
                font-size: 56px;
                line-height: 66px;
                color: $white;
                letter-spacing: 0.06em;
                margin: 0;
                margin-bottom: $space-xxxlg;
                max-width: 492px;

                @media (max-width: $small-screen) {
                    font-size: 30px;
                    line-height: 34px;
                    max-width: 230px;
                    margin-bottom: $space-md;
                }
            }

            .subtitle {
                font-size: 24px;
                line-height: 45px;
                color: $white;
                margin: 0;
                max-width: 492px;

                @media (max-width: $small-screen) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .right {
            width: 33%;

            @media (max-width: $small-screen) {
                width: 100%;
                display: flex;
            }

            span:first-of-type {
                height: 100% !important;

                @media (max-width: $small-screen) {
                    height: inherit;
                    width: 100% !important;
                }
            }
        }
    }

    .ways-to-do-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 115px;
        margin-bottom: 170px;

        @media (max-width: $small-screen) {
            flex-wrap: wrap;
            margin-top: $space-md;
            margin-bottom: 80px;
        }

        .way {
            width: 30%;

            @media (max-width: $small-screen) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &:nth-child(even) {
                margin: 0 100px;

                @media (max-width: $small-screen) {
                    margin: 0;
                }
            }

            .subtitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                max-width: 310px;

                .colored-blue {
                    color: $blue-three;
                }

                .colored-orange {
                    color: $orange-main;
                }
            }

            ul {
                margin: 28px 0 0;
                max-width: 320px;
                padding: 0;

                li {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 24px;
                    display: flex;
                    align-items: flex-start;

                    .marker {
                        min-width: 18px;
                        margin-right: 16px;
                    }

                    svg {
                        margin-right: 16px;
                        min-width: 15px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .what-we-do {
        margin-bottom: 180px;
        width: 100%;
        text-align: left;
        max-width: 1160px;

        @media (max-width: $small-screen) {
            margin-bottom: $space-xlg;
        }

        .title {
            margin: 0;
            font-weight: 600;
            font-size: 56px;
            line-height: 66px;
            max-width: 500px;

            @media (max-width: $small-screen) {
                font-size: 30px;
                line-height: 34px;
                max-width: 270px;
            }
        }
    }

    .who {
        width: 100%;
        max-width: 1160px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 154px;

        @media (max-width: $small-screen) {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 72px;
        }

        .who-card {
            padding: 36px;
            display: flex;
            flex-direction: column;
            background: $grey-background;
            width: 33%;

            @media (max-width: $small-screen) {
                width: 100%;
            }

            &:nth-child(even) {
                margin: 0 $space-sm;

                @media (max-width: $small-screen) {
                    margin: $space-sm 0;
                }
            }

            .symbol {
                margin-bottom: 48px;

                @media (max-width: $small-screen) {
                    margin-bottom: 32px;
                }
            }

            .title {
                margin: 0 0 40px;
                font-size: 38px;
                line-height: 25px;

                @media (max-width: $small-screen) {
                    font-size: 30px;
                    margin: 0 0 24px;
                }
            }

            .details {
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 40px;

                @media (max-width: $small-screen) {
                    font-size: 14px;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .opportunities-now {
        margin-bottom: 100px;
    }
}
