@import '../../styles/variables';

.home-page-wrapper {
    padding: $space-lg;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $small-screen) {
        padding: $space-md;
    }

    .title {
        font-size: 48px;
        font-weight: 600;
        margin: 0;
        margin-top: $space-md;
        line-height: 1.5;
    }

    .subtitle {
        margin: 0;
        margin-top: $space-md;
        font-size: 20px;
        line-height: 2;
        max-width: 660px;
    }

    .top-section {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        width: 100%;

        @media (max-width: $medium-screen) {
            margin-top: 0;
            flex-direction: column;
        }

        .left {
            margin-right: 75px;

            @media (max-width: $medium-large-screen) {
                margin-right: 12px;
            }

            @media (max-width: $medium-screen) {
                width: 100%;
                right: 0;
                padding: 0 $space-md;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 0;
            }

            svg {
                width: 450px;

                @media (max-width: $small-screen) {
                    width: 300px;
                }
            }

            .push {
                margin-left: $space-xxlg;

                @media (max-width: $medium-screen) {
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .title {
                    margin-top: $space-xs;
                    width: 325px;
                    line-height: 1.25;

                    @media (max-width: $medium-screen) {
                        text-align: center;
                    }

                    @media (max-width: $small-screen) {
                        text-align: center;
                        width: 270px;
                        font-size: 30px;
                        line-height: 34px;
                        margin-top: $space-xs;
                    }
                }

                .subtitle {
                    margin-top: $space-xlg;

                    @media (max-width: $medium-screen) {
                        text-align: center;
                    }

                    @media (max-width: $small-screen) {
                        text-align: center;
                        width: 100%;
                        font-size: 16px;
                        line-height: 21px;
                    }
                }

                button {
                    width: 240px;
                    margin-top: $space-xxxlg;
                }
            }
        }

        .right {
            margin-left: 75px;

            @media (max-width: $medium-large-screen) {
                margin-left: 12px;
            }

            @media (max-width: $medium-screen) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: $space-md;
                margin-left: 0;
            }

            .top-image {
                position: relative;
                width: 450px;
                height: 450px;
                display: flex;
                justify-content: center;

                @media (max-width: $medium-screen) {
                    margin-right: inherit;
                }

                @media (max-width: $small-screen) {
                    margin-right: inherit;
                    width: calc(100% - 24px);
                    height: inherit;
                }

                &:first-of-type span {
                    z-index: 1;
                }

                svg {
                    position: absolute;
                    top: -60px;
                    left: 360px;

                    @media (max-width: $small-screen) {
                        display: none;
                    }
                }
            }
        }
    }

    .connect-with-purpose {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 240px;

        @media (max-width: $small-screen) {
            margin-top: $space-xxlg;
        }

        .title {
            @media (max-width: $small-screen) {
                text-align: center;
                font-size: 30px;
                line-height: 34px;
                margin: 0;
            }
        }

        .subtitle {
            text-align: center;
            font-size: 20px;

            @media (max-width: $small-screen) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .user-cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        margin-bottom: 80px;

        @media (max-width: $small-screen) {
            margin-top: $space-lg;
            display: none;
        }

        .user-card {
            width: calc(50% - 20px);
            background: $grey-background;
            padding: $space-lg;
            display: flex;
            margin-bottom: 40px;
            flex-direction: column;

            @media (max-width: $medium-screen) {
                width: 100%;
            }

            @media (max-width: $small-screen) {
                width: 100%;
                flex-direction: column;
                margin-bottom: 24px;
            }

            .user-card-inner {
                display: flex;
            }

            &:nth-child(odd) {
                margin-right: 20px;

                @media (max-width: $medium-screen) {
                    margin-right: 0;
                }
            }

            &:nth-child(even) {
                margin-left: 20px;

                @media (max-width: $medium-screen) {
                    margin-left: 0;
                }
            }

            .large-ui {
                @media (max-width: $medium-large-screen) {
                    display: none;
                }

                @media (max-width: $medium-screen) {
                    display: inherit;
                }
            }

            .small-ui {
                display: none;

                @media (max-width: $medium-large-screen) {
                    display: inherit;
                    margin: $space-sm 0 0;
                    font-size: 14px;
                    line-height: 25px;
                }

                @media (max-width: $medium-screen) {
                    display: none;
                }
            }


            .details {
                margin-left: $space-lg;

                @media (max-width: $small-screen) {
                    margin-left: inherit;
                }

                .card-title {
                    margin: 0;
                    font-size: 30px;
                    margin-bottom: $space-sm;

                    @media (max-width: $small-screen) {
                        font-size: 20px;
                        margin-bottom: $space-xs;
                    }
                }

                .card-subtitle {
                    margin: 0;
                    font-size: 20px;
                    margin-bottom: $space-md;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    @media (max-width: $medium-screen) {
                        justify-content: flex-start;
                    }

                    @media (max-width: $small-screen) {
                        font-size: 16px;
                        margin-bottom: $space-xs;
                    }
                }

                .card-description {
                    margin: 0;
                    font-size: 14px;
                    line-height: 25px;

                    @media (max-width: $small-screen) {
                        font-size: 12px;
                    }
                }
            }

            .card-image {
                @media (max-width: $small-screen) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: $space-xs;
                }
            }
        }
    }

    .user-cards-slider {
        width: 100%;
        display: none;
        margin: $space-xlg 0 $space-xxxlg;

        :global {
            .slick-list {
                display: flex;
                overflow: visible;
                width: 100%;

                .slick-track {
                    display: flex;
                    align-items: center;

                    .slick-slide {
                        display: flex;

                        & > div {
                            display: flex;
                        }
                    }
                }
            }
        }

        @media (max-width: $small-screen) {
            display: inherit;
        }

        .user-card {
            flex-direction: row;
            background: $grey-background;
            padding: $space-lg;
            display: flex;
            justify-content: flex-start;
            margin: 0 $space-xs 0;

            @media (max-width: $x-small-screen + 40px) {
                flex-direction: column;
            }

            .small-ui {
                display: none;
            }

            .details {
                .card-title {
                    margin: 0;
                    font-size: 20px;
                    margin-bottom: $space-xs;
                }

                .card-subtitle {
                    margin: 0;
                    font-size: 16px;
                    margin-bottom: $space-xs;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }

                .card-description {
                    margin: 0;
                    font-size: 12px;
                    line-height: 25px;
                }
            }

            .card-image {
                display: flex;
                justify-content: center;
                margin-right: $space-md;

                @media (max-width: $x-small-screen + 40px) {
                    margin-bottom: $space-md;
                    margin-right: 0;
                }
            }
        }
    }

    .join-now {
        margin-bottom: 120px;
        width: 242px;
    }

    .the-easy-way-section {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        @media (max-width: $medium-small-screen) {
            flex-direction: column-reverse;
        }

        @media (max-width: $small-screen) {
            margin-left: inherit;
            flex-direction: column-reverse;
            width: 100vw;
        }

        .left {
            width: 60%;
            background: $blue-background;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 32px;

            @media (max-width: $medium-screen) {
                width: 50%;
            }

            @media (max-width: $medium-small-screen) {
                width: 100%;
            }

            @media (max-width: $small-screen) {
                width: 100%;
                align-items: flex-start;
            }

            .title {
                font-size: 48px;
                line-height: 66px;
                color: $white;
                letter-spacing: 0.06em;
                margin: 0;
                margin-bottom: $space-xxxlg;
                max-width: 492px;

                @media (max-width: $small-screen) {
                    font-size: 30px;
                    line-height: 34px;
                    max-width: 230px;
                    margin-bottom: $space-md;
                }
            }

            .subtitle {
                font-size: 20px;
                line-height: 45px;
                color: $white;
                margin: 0;
                max-width: 492px;

                @media (max-width: $small-screen) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .right {
            width: 40%;
            display: flex;

            @media (max-width: $medium-screen) {
                width: 50%;
            }

            @media (max-width: $medium-small-screen) {
                justify-content: center;
                width: 100%;
            }

            @media (max-width: $small-screen) {
                width: 100%;
            }

            span:first-of-type {
                height: 100% !important;

                @media (max-width: $small-screen) {
                    height: inherit;
                    width: 100% !important;
                }
            }
        }
    }

    .ways-to-do-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 120px;

        @media (max-width: $small-screen) {
            flex-wrap: wrap;
            margin-top: 0;
            margin-bottom: 80px;
        }

        .way {
            width: 30%;

            @media (max-width: $small-screen) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &:nth-child(even) {
                margin: 0 100px;

                @media (max-width: $small-screen) {
                    margin: 0;
                }
            }

            .subtitle {
                font-weight: 600;
                font-size: 20px;
                line-height: 34px;
                max-width: 310px;

                @media (max-width: $small-screen) {
                    margin-top: $space-xxxlg;
                }

                .colored-blue {
                    color: $blue-three;
                }

                .colored-orange {
                    color: $orange-main;
                }
            }

            ul {
                margin: 28px 0 0;
                max-width: 320px;
                padding: 0;

                li {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom: 24px;
                    display: flex;
                    align-items: flex-start;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .marker {
                        min-width: 18px;
                        margin-right: 16px;
                    }

                    svg {
                        margin-right: 16px;
                        min-width: 15px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .what-we-do {
        margin-bottom: 120px;
        width: 100%;
        text-align: left;

        @media (max-width: $small-screen) {
            margin-bottom: $space-xlg;
        }

        .title {
            margin: 0;
            font-weight: 600;
            font-size: 44px;
            line-height: 66px;
            max-width: 500px;

            @media (max-width: $small-screen) {
                font-size: 30px;
                line-height: 34px;
                max-width: 270px;
            }
        }
    }

    .who-slider-container {
        display: none;
        width: 100%;
        margin-bottom: $space-xxxxlg;

        @media (max-width: $small-screen) {
            display: inherit;
        }

        :global {
            .slick-list {
                display: flex;
                overflow: visible;
                width: 100%;

                .slick-track {
                    display: flex;
                    align-items: center;

                    .slick-slide {
                        display: flex;

                        & > div {
                            display: flex;
                        }
                    }
                }
            }
        }

        .who-card-slider {
            padding: 24px;
            display: flex;
            flex-direction: column;
            background: $grey-background;
            width: 100%;
            margin: 0 $space-xs 0;

            .who-title-section {
                display: flex;

                @media (max-width: $x-small-screen) {
                    flex-direction: column;
                }
            }

            .symbol {
                margin-bottom: $space-md;
                margin-right: $space-sm;

                @media (max-width: $x-small-screen) {
                    margin-right: 0;
                }
            }

            .title {
                margin: 0 0 $space-lg;
                font-size: 30px;
                line-height: inherit;
            }

            .details {
                font-size: 14px;
                line-height: 25px;
                margin-bottom: $space-xs;

                &:first-of-type {
                    margin-bottom: $space-md;
                }
            }
        }
    }

    .who {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 120px;

        @media (max-width: $small-screen) {
            display: none;
        }
    }

    .who-card {
        padding: 36px;
        display: flex;
        flex-direction: column;
        background: $grey-background;
        width: 33%;

        &:nth-child(even) {
            margin: 0 $space-sm;
        }

        .symbol {
            margin-bottom: 44px;
        }

        .title {
            margin: 0 0 40px;
            font-size: 30px;
            line-height: 25px;
        }

        .details {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 40px;
        }
    }

    .opportunities-now {
        margin-bottom: 120px;
        width: 240px;
    }
}
