@import '../../styles/variables';

.home-page-wrapper {
    @media (max-width: $large-device) {
        padding: 0 32px;
    }

    @media (max-width: $small-device) {
        padding: 0;
    }

    .cover-image-section {
        background-image: url('../../public/briidgeCover.jpg');
        height: calc(100vh - 150px);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        @media (max-width: $large-device) {
            width: calc(100% + 64px);
            margin-left: -$space-lg;
        }

        @media (max-width: $small-device) {
            width: 100%;
            margin-left: 0;
        }
    }

    .call-to-action-box {
        width: calc(100% - 64px);
        max-width: 600px;
        background: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $space-lg;
        opacity: 0.9;

        h1 {
            font-size: 36px;
            margin: 0;
            text-align: center;

            @media (max-width: $small-device) {
                font-size: 32px;
            }
        }

        p {
            font-size: 14px;
            text-align: center;
        }

        .buttons {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 400px;
            margin-top: $space-sm;

            @media (max-width: $small-device) {
                flex-direction: column;
            }

            button {
                &:nth-child(1) {
                    margin-right: $space-xs;
                }

                &:nth-child(2) {
                    margin-left: $space-xs;
                }

                @media (max-width: $small-device) {
                    &:nth-child(1) {
                        margin-right: 0;
                    }

                    &:nth-child(2) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .marketing-for-title {
        margin: $space-lg 0;
        padding: 0 $space-sm;
    }

    h2 {
        font-size: 32px;
        margin: 0;
        text-align: center;

        @media (max-width: $small-device) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 28px;
        margin: 0;
        text-align: center;

        @media (max-width: $small-device) {
            font-size: 24px;
        }
    }

    .marketing-for-section {
        display: flex;
        align-items: flex-start;
        visibility: hidden;
        margin-bottom: $space-sm;

        @media (max-width: $small-device) {
            flex-direction: column;
        }
    }

    .marketing-for-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32%;

        @media (max-width: $small-device) {
            width: 100%;
            height: auto;
        }

        &:nth-child(4) {
            margin: 0 2%;

            @media (max-width: $small-device) {
                margin: 0;
            }
        }

        p {
            margin: $space-lg $space-sm;
            font-size: 14px;
            text-align: center;

            @media (max-width: $small-device) {
                font-size: 16px;
            }
        }

        button {
            width: 150px;
        }
    }

    .marketing-for {
        width: 100%;
        overflow: hidden;
        position: relative;

        @media (max-width: $small-device) {
            width: 100%;
            height: 100%;
            margin: $space-sm 0;
        }

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    .marketing-for-img-container {
        position: absolute;
        width: 130%;
        height: 140%;
        margin-left: -15%;
        margin-bottom: -32px;

        img {
            object-fit: cover;
        }
    }

    .green-section {
        background: linear-gradient(135deg,$yellow-one, #F2CB05, #F2B705);
    }

    .orange-section {
        background: linear-gradient(135deg,#F28705,#F25C05,$orange-main);
    }

    .blue-section {
        background: linear-gradient(135deg,#05F2F2,#05DBF2, $blue-one-comp);
    }

    .tag {
        font-size: 20px;
        position: absolute;
        padding: 16px;
        background: $white;
        font-family: 'kollektif bold';
        text-align: right;
        z-index: 1;

        @media (max-width: $large-device) {
            font-size: 16px;
        }

        @media (max-width: $small-device) {
            font-size: 20px;
        }
    }

    .tag-top {
        bottom: 75%;
    }

    .tag-bottom {
        bottom: 5%;

        @media (max-width: $small-device) {
            bottom: 70%
        }
    }

    .tag-middle {
        bottom: 65%;

        @media (max-width: $small-device) {
            bottom: 70%
        }
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
    visibility: visible !important;
}

.slider-container {
    width: 100%;
    margin-bottom: $space-xxxlg;
    margin-top: $space-lg;
    visibility: hidden;

    @media (max-width: $x-small-device) {
        width: 100%;

        svg {
            display: none !important;
        }
    }
}

.slider-slide {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;

    @media (max-width: $x-small-device) {
        height: 80vh;
    }

    .call-to-action-box {
        position: relative;
        z-index: 1;

        @media (max-width: $x-small-device) {
            margin-top: auto;
            opacity: 1;
            background: linear-gradient(transparent, $black, $black, $black);
            color: $white;
            width: 100%;
        }
    }
}

.image-container {
    height: 80vh;

    @media (max-width: $medium-device) {
        height: 65vh;
    }

    @media (max-width: $small-device) {
        height: 50vh;
    }

    @media (max-width: $x-small-device) {
        div {
            height: 45vh;
        }
    }
}

.slick-button {
    position: absolute;
    padding: $space-sm;
    top: 50%;
    margin-top: -31px;
    background: $orange-main;
    z-index: 1;
    cursor: pointer;
    transition: background 0.25s;

    @media (max-width: $small-device) {
        display: none;
    }

    &:hover {
        background: $black;
    }

    svg {
        width: 30px;
        height: 30px;

        polyline {
            stroke: $white;
        }
    }
}

.next-button-container {
    transform: rotate(90deg);
    right: 2px;
}

.prev-button-container {
    transform: rotate(-90deg);
    left: 2px;
}

.big-red-box-section {
    background-attachment: fixed;
    background-image: url('../../public/bridgeCloseUp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

    @media (max-width: $medium-device) {
        flex-direction: column;
    }

    .call-to-action-box {
        height: fit-content;
        width: 33%;
        min-width: 360px;
    }

    .holes {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 33%;
        justify-content: space-around;

        @media (max-width: $medium-device) {
            min-height: 100%;
            width: 80%;
        }

        @media (max-width: $x-small-device) {
            min-height: 100%;
            width: 100%;
        }
    }

    .bridge-hole {
        padding: $space-md;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
        color: $white;
        font-size: 18px;
        visibility: hidden;
    }
}
