@import '../../styles/variables';

.button-section {
    display: flex;
    flex-direction: column;
}

.error-state {
    border: 1px solid $red-one;
}

.button-message {
    font-size: 16px;
    margin-top: -$space-sm;
    line-height: 20px;
}

.error-message {
    color: $red-one;
}

.large-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid $black;
    background: $white;
    margin-bottom: $space-md;
    padding: 0 $space-lg;

    @media (max-width: $small-screen) {
        margin-bottom: $space-sm;
    }
}

.small-button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 0px;
    border: 1px solid $black;
    background: $white;
    margin-bottom: $space-md;
    border-radius: 4px;
    padding: 0 $space-md;

    @media (max-width: $small-screen) {
        margin-bottom: $space-sm;
    }
}

.selected-button {
    background: $orange-main;
    color: $white;
    border: 1px solid $orange-main;
}
