@import '../../styles/variables';

.large-input {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid $black;
    margin-bottom: $space-md;
    padding: 0 $space-sm;
    text-align: left;
}

.small-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid $border-grey-one;
    margin-bottom: $space-sm;
    padding: 0 $space-md;
    text-align: left;
}

.xs-input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid $black;
    margin-bottom: $space-sm;
    padding: 0 $space-sm;
    text-align: left;
}

.input-section {
    display: flex;
    flex-direction: column;

    input:focus {
        outline: none;
    }

    input {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey-two;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey-two;
        }

        *::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey-two;
        }
    }
}

.error-state {
    border: 1px solid $red-one;
}

.input-message {
    font-size: 14px;
    margin-top: -$space-xs;
    line-height: 20px;
    color: $grey-two;

    @media (max-width: $small-screen) {
        margin-bottom: $space-xs;
    }
}

.input-message-small {
    margin-top: -$space-xs;
}

.error-message {
    color: $red-one;
}

.large-message {
    margin-top: -$space-sm;
}
