@import '../../styles/variables';

.animate__animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

// FADE IN
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        opacity: 1;
        z-index: 10;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

// FADE OUT
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    99.999% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    99.999% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.animate__fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

// FADE IN DOWN
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        bottom: 100%;
        z-index: 11;
    }

    to {
        bottom: 33%;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 11;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        bottom: 100%;
        z-index: 11;
    }

    to {
        bottom: 33%;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 11;
    }
}

@-webkit-keyframes fadeInDownMobile {
    0% {
        opacity: 0;
        bottom: 100%;
        z-index: 11;
    }

    to {
        bottom: 2%;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 11;
    }
}

@keyframes fadeInDownMobile {
    0% {
        opacity: 0;
        bottom: 100%;
        z-index: 11;
    }

    to {
        bottom: 2%;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 11;
    }
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;

    @media (max-width: $small-screen) {
        -webkit-animation-name: fadeInDownMobile;
        animation-name: fadeInDownMobile;
    }
}

// FADE OUT UP
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        z-index: 11;
        bottom: 33%;
    }

    99.999% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: 11;
        bottom: 100%;

    }

    100% {
        opacity: 0;
        z-index: -1;
        bottom: 100%;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        z-index: 11;
        bottom: 33%;
    }

    99.999% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: 11;
        bottom: 100%;

    }

    100% {
        opacity: 0;
        z-index: -1;
        bottom: 100%;
    }
}

// FADE OUT UP
@-webkit-keyframes fadeOutUpMobile {
    0% {
        opacity: 1;
        z-index: 11;
        bottom: 2%;
    }

    99.999% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: 11;
        bottom: 100%;

    }

    100% {
        opacity: 0;
        z-index: -1;
        bottom: 100%;
    }
}

@keyframes fadeOutUpMobile {
    0% {
        opacity: 1;
        z-index: 11;
        bottom: 2%;
    }

    99.999% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: 11;
        bottom: 100%;

    }

    100% {
        opacity: 0;
        z-index: -1;
        bottom: 100%;
    }
}

.animate__fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;

    @media (max-width: $small-screen) {
        -webkit-animation-name: fadeOutUpMobile;
        animation-name: fadeOutUpMobile;
    }
}

.modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.25);
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.common-modal {
    width: 500px;
    background: $white;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    opacity: 0;
    z-index: -1;
    bottom: 100%;
    border-radius: 4px;

    @media (max-width: $small-screen) {
        width: 400px;
        margin-left: -200px;
    }

    @media (max-width: $x-small-screen) {
        width: 96%;
        margin-left: auto;
        left: 2%;
    }
}

.content {
    padding: $space-sm;
}

.title-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-grey-one;
    padding: $space-sm;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    svg {
        margin-top: 2px;
        width: 22px;
        height: 22px;
        flex: 0 0 22px;
        margin-left: $space-xs;
        cursor: pointer;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $space-sm;
    border-top: 1px solid $border-grey-one;
}
