@import '../../styles/variables';

.large-textarea {
    width: 100%;
    border: 1px solid $black;
    border-radius: 0;
    font-size: 18px;
    resize: none;
    padding: $space-sm;
    margin-bottom: $space-md;
}

.small-textarea {
    width: 100%;
    border: 1px solid $border-grey-one;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    padding: $space-sm;
    margin-bottom: $space-sm;
}

.textarea-section {
    display: flex;
    flex-direction: column;

    textarea:focus {
        outline: none;
    }

    textarea {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey-two;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey-two;
        }

        *::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey-two;
        }
    }
}

.error-state {
    border: 1px solid $red-one;
}

.textarea-message {
    font-size: 14px;
    margin-top: -$space-xs;
    line-height: 20px;

    @media (max-width: $small-screen) {
        margin-bottom: $space-xs;
    }
}

.error-message {
    color: $red-one;
}

.large-message {
    margin-top: -$space-sm;
}
