@import '../../styles/variables';

.large-textarea {
    width: 100%;
    border: 1px solid $black;
    border-radius: 0;
    font-size: 18px;
    resize: none;
    padding: $space-sm;
    margin-bottom: $space-md;
}

.small-textarea {
    width: 100%;
    border: 1px solid $black;
    border-radius: 0;
    font-size: 18px;
    resize: none;
    padding: $space-sm;
    margin-bottom: $space-md;
}

.textarea-section {
    display: flex;
    flex-direction: column;
}

.error-state {
    border: 1px solid $red-one;
}

.textarea-message {
    font-size: 14px;
    margin-top: -$space-sm;
    line-height: 20px;

    @media (max-width: $small-screen) {
        margin-bottom: $space-xs;
    }
}

.error-message {
    color: $red-one;
}
