@import '../../../styles/variables';
@import '../OnBoard.module.scss';

.social-links {
    h3 {
        max-width: 500px;
        text-align: center;

        @media (max-width: $small-screen) {
            max-width: 340px;
        }
    }
}

.back-button-section {
    @media (max-width: $small-screen) {
        display: none;
    }
}

.links {
    display: flex;
    flex-direction: column;

    @media (max-width: $small-screen) {
        margin-bottom: $space-lg;
    }

    input {
        margin-bottom: $space-sm;
        padding-left: 54px;
        padding-right: $space-sm;
        min-width: 300px;
    }

    .input-section {
        margin-bottom: $space-xs;
        position: relative;

        svg {
            position: absolute;
            left: 16px;
            top: 50%;
            margin-top: -19px;
        }
    }
}

.enter-site {
    @media (max-width: $small-screen-medium) {
        max-width: 150px;
        margin-left: auto;
    }

    @media (max-width: $x-small-screen) {
        max-width: 100%;
        margin-left: inherit;
    }
}
