@import '../../styles/variables';

.footer {
    padding: $space-xxlg $space-lg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    background: $black-two;

    @media (max-width: $small-screen) {
        padding: $space-xs $space-md;
    }

    .footer-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $space-md;
    }

    .social-logos {
        display: flex;
        font-size: 22px;
        margin-left: $space-xxxlg;

        @media (max-width: $small-screen) {
            margin-left: $space-xs;
        }

        svg {
            margin: $space-xs;
        }
    }

    .footer-links {
        width: 50%;
        text-align: center;

        @media (max-width: $small-screen) {
            width: 100%;
        }

        a {
            text-decoration: underline;
            margin: $space-xs;
        }
    }

    .copyright {
        opacity: 0.75;
        font-size: 14px;
    }
}
