@import '../../styles/variables';

.how-it-works-page-wrapper {
    padding: $space-md;
    background-image: url('../../public/gate-straight.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: $space-lg;

    @media (max-width: $large-device) {
        width: calc(100% + 64px);
        margin-left: -$space-lg;
    }

    @media (max-width: $small-device) {
        width: 100%;
        margin-left: 0;
    }

    @media (max-width: 600px) {
        height: inherit;
    }
}

.page-wrapper {
    padding: $space-md;
    background-image: linear-gradient(133deg, transparent, $black), url('../../public/gate-fog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin-bottom: $space-lg;
    color: $white;
}

.main-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: $white;
}

.user-type-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.left-boxes,
.right-boxes {
    display: flex;
    flex-direction: column;
}

.user-type-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: $space-sm;
    padding: $space-sm;
    margin: $space-xxxlg;
    color: $white;
    background: linear-gradient(133deg, $orange-main-comp, $orange-main);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 4px $space-xs $space-md $black;
    cursor: pointer;

    svg {
        margin-top: $space-sm;
        font-size: 60px;
    }
}

.go-back {
    font-size: 35px;
    background-color: $orange-main;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70px;
    left: 0;
    padding: 16px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;

    @media (max-width: $small-device) {
        bottom: 0;
        top: inherit;
    }

    svg {
        transform: rotate(-90deg);

        polyline {
            stroke: $white;
        }
    }
}
