@import '../../styles/variables';

.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $orange-main;
    margin-bottom: 2px;

    .logo {
        background: $orange-main;
        border-radius: 2px;
        font-size: 40px;
        padding: 2px 12px;
        color: white;
        font-family: 'poppins bold';
        margin-right: $space-xs;
        display: none;
    }

    span {
        font-family: 'poppins bold';
        font-size: 30px;
    }
}

.logo-section-inverted {
    color: $white;

    .logo {
        background: $white;
        color: $orange-main;
    }
}
