@import '../../../styles/variables';

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: $white;
    border-radius: 6px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
    padding: 35px 25px;
    opacity: 0;
    &.visible {
        opacity: 1;
        transition: opacity .3s;
    }
    &.size-auto {
        width: auto;
    }
    &.size-xs {
        min-width: 300px;
    }
    &.size-sm {
        min-width: 400px;
    }
    &.size-md {
        min-width: 450px;
    }
    &.size-lg {
        min-width: 500px;
    }
    &.size-xl {
        min-width: 600px;
    }
    @media (max-width: $small-device) {
        min-width: 330px !important;
    }
}
.modalOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 5;
    opacity: 0;
    &.visible {
        opacity: 1;
        transition: opacity .3s;
    }
}
