@import '../../styles/variables';

.purpose-page-wrapper {
    padding: $space-md;
    background-image: linear-gradient(133deg, $black, transparent), url('../../public/briidgeCover1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin-bottom: $space-lg;
    color: $white;
}

.main-title {
    text-align: center;
}
