@import '../../styles/variables';

.nav-wrapper {
    position: fixed;
    background: $white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: top 0.4s;
}
.move-nav-up {
    top: -80px;
}
.nav-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: all 0.5s;
    max-width: $large-device;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    padding: $space-xs $space-lg;
    height: 70px;

    li {
        margin-left: $space-lg;
        transition: color 0.25s;

        &:hover {
            color: $orange-main;
        }

        &:nth-child(2) {
            margin: 0;
        }

        &:nth-child(3) {
            margin-left: auto;
        }
    }
    @media (max-width: $small-device) {
        display: none;
        height: 100vh;
        margin-left: 100%;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        background: $orange-main;
        position: fixed;
        top: 0;
        z-index: 1;
        justify-content: flex-start;
        padding: $space-sm 0 0 $space-md;
        transition: margin 0.25s;
        li {
            color: $white;
            margin-top: $space-lg;
            margin-left: 0;
            a {
                font-size: 16px;
                font-weight: bold;
            }

            &:nth-child(3) {
                margin-left: 0;
            }
        }
    }
}
.display-it {
    display: flex;
}
.briidge-logo-mini {
    width: 36px;
}
.showing {
    margin-left: 0;
    box-shadow: 0 -8px $space-md $black !important;
}
.menu-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 64px;
    padding: 0 $space-md;
    @media (max-width: $small-device) {
        display: inherit;
    }
}
.close-icon {
    path {
        stroke: $white;
    }
}
.nav-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    transition: all 0.5s;
    opacity: 0;
    z-index: -1;
}
.nav-overlay-showing {
    opacity: 0.75;
    z-index: 1;
}
.logo-and-close,
.logo-and-ham {
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: $space-md;
    height: 64px;
    transition: box-shadow 0.5s;
    background: transparent;
    @media (max-width: $small-device) {
        display: flex;
    }
}
.logo-and-close {
    margin: -16px 0 0 -24px;
}
// .show-shadow {
//     box-shadow: 0 -8px $space-md $black;
//     background: $white;
// }
// .nav-show-shadow {
//     box-shadow: 0 -8px $space-md $black;
//     background: $white;
//     @media (max-width: $small-device) {
//         box-shadow: none;
//         background: linear-gradient(93deg,$black 0%,$black 50%,$black 100%);
//     }
// }
.logo-title {
    color: $black;
    font-size: 16px;
    width: calc(100% - 91px);
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}
.briidge-logo-section {
    cursor: pointer;

    @media (max-width: $small-device) {
        display: none;
    }
}
.services {
    padding: $space-sm 0;
    @media (max-width: $small-device) {
        padding-bottom: 0;
    }
}
