@import '~slick-carousel/slick/slick.css';
@import './fonts.scss';
@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: auto;
  color: $dark-grey-one;
  // scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    line-height: 24px;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'poppins';
}

ul {
    list-style-type: none;
}

li {
    position: relative;
}

.pipedriveWebForms {
    display: flex;
    justify-content: center;
}

.slick-dots {
    bottom: -$space-lg !important;

    li {
        button::before {
            font-size: 10px !important;
            color: $orange-main !important;
            opacity: 0.35 !important;
        }
    }

    .slick-active {
        button:before {
            opacity: 1 !important;
        }
    }
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select option:first-child{
  color: green;
}
