$white: #ffffff;
$black: #000000;
$grey-one: #d3d3d3;
$grey-two: #888888;
$grey-three: #dadcdf;
$grey-four: #444;
$grey-five: #eeeeee;
$dark-grey-one: #333333;

$orange-main: #C0362C;
$orange-main-comp: #FF6054;
$green-one: #50BF36;
$green-one-comp: #7EFF61;
$blue-one: #0F7371;
$blue-one-comp: #2CBFBD;

$red-one:#C70000;
$green-one: #005401;

$line-height: 1.5em;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xlg: 40px;
$space-xxlg: 48px;
$space-xxxlg: 56px;
$space-xxxxlg: 64px;

$x-small-device: 480px;
$small-device: 767px;
$medium-device: 1000px;
$large-device: 1280px;
$max-screen: 1520px;
