$white: #ffffff;
$black: #000000;
$black-two: #18181B;
$border-grey-one: #d3d3d3;
$grey-two: #888888;
$grey-three: #dadcdf;
$grey-four: #444;
$grey-five: #eeeeee;
$grey-six: #7A7A7A;
$dark-grey-one: #333333;
$link-blue: #0078BB;

$grey-background: #F5F5F5;
$grey-background-two: #E2E5E9;
$blue-background: #224A5D;

$orange-main: #C0362C;
$orange-two: #D64C27;
$orange-main-comp: #FF6054;
$pink-one: #D62756;
$green-one: #4BB543;
$green-one-comp: #7EFF61;
$blue-one: #0F7371;
$blue-two: #1E0BE3;
$blue-one-comp: #2CBFBD;
$blue-three: #028090;
$yellow-one: #FFF803;
$violet-one: #9100FA;
$red-one:#C70000;

$line-height: 1.5em;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xlg: 40px;
$space-xxlg: 48px;
$space-xxxlg: 56px;
$space-xxxxlg: 64px;

$xx-small-screen: 359px;
$xx-small-screen-mf: 360px;
$x-small-screen: 480px;
$small-screen-medium: 650px;
$small-screen: 767px;
$small-screen-mf: 768px;
$medium-small-screen: 900px;
$medium-screen: 1000px;
$medium-large-screen: 1100px;
$large-screen: 1200px;
$max-screen: 1280px;
