@import '../../styles/variables';

.about-page-wrapper {
    padding: $space-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $space-xxxxlg;

    h3 {
        font-family: 'poppins bold', sans-serif;
        font-size: 22px;
        margin: $space-md 0 $space-xs;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    .subtitle {
        font-size: 18px;
        font-family: 'poppins bold', sans-serif;
        font-style: italic;
        text-align: center;
        margin: 0 0 $space-xxlg;
        max-width: 555px;
    }

    ul {
        list-style: circle;

        li {
            margin: $space-sm 0;
            font-size: 14px;
        }
    }

    img {
        object-fit: cover;
    }
}

.point {
    margin-bottom: $space-xxlg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
        margin-top: $space-lg;
        margin-bottom: 0;
        min-width: 240px;
    }
}

.point-one {
    position: relative;
    margin-top: -$space-md;
    width: 100%;

    .banner {
        position: absolute;
        top: 30%;
        left: auto;
        background: rgb(255, 255, 255, 0.80);
        padding: $space-sm;
        font-size: 28px;
        text-align: center;
        font-family: 'poppins bold', sans-serif;
    }
}

.point-two {
    position: relative;
    background: $white;
    z-index: 1;

    @media (min-width: $small-screen-mf) {
        margin-top: -110px;
        margin-bottom: $space-xxxxlg;
    }

    p {
        max-width: 650px;
    }
}

.point-three {
    @media (min-width: $small-screen-mf) {
        margin-right: $space-lg;
        text-align: right;
        align-items: flex-end;

        p {
            text-align: right;
        }
    }
}

.point-four {
    @media (min-width: $small-screen-mf) {
        margin-left: $space-lg;
        text-align: left;
        align-items: flex-start;

        p {
            text-align: left;
        }
    }
}

.point-two-img,
.point-four-img,
.point-three-img {
    width: 100vw;
    position: relative;
    min-height: 40vh;
    margin-left: -$space-md;

    @media (min-width: $small-screen-mf) {
        width: 100%;
        margin-left: 0;
        height: auto;
    }
}

.point-two-img {
    margin-left: 0;
}

.row {
    width: 100%;

    @media (min-width: $small-screen-mf) {
        display: flex;
        flex-direction: row;

        & > img,
        & > div {
            width: 50%;
        }
    }
}

.row-reverse {
    @media (min-width: $small-screen-mf) {
        flex-direction: row-reverse;
        margin-bottom: $space-xxlg;
    }
}
