@import '../../styles/variables';

.golden-gate {
    background-image: url('../../public/goldenGate.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: -1;
}

.about-page-wrapper {
    padding: $space-md;
}
